:root {
  --color-main: #FF5A5F;
  --color-secondary: #00b2a3;
  --color-third: #FC642D;
  --my-grey: #767676
}


@font-face {
  font-family: mainFont;
  src: url(../public/fonts/AirbnbCereal_W_Bk.otf);
}

.footer {
  background-color: var(--color-third);
}

* {
  font-family: mainFont;
}

html, body, #root, .App {
  height: stretch;
}

.bg-main {
  background-color: var(--color-main);
}
.bgSecondary {
  background-color: var(--color-secondary);
}

.textMain{
  color :var(--color-main)
}
.textSecondary {
  color :var(--color-secondary)
}
.textThird {
  color :var(--color-third)
}
.btn-primary {
  border-color: var(--color-secondary) !important;
  background-color: var(--color-secondary) !important;
  
}

.hero {
  height: stretch;
  background-image: url('../public/images/2558319.jpeg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.255); 
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.newVacationWrapper {
  background-image: url('../public/images/travelplanning.jpeg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.350); 
  background-position: center;
  background-size: cover;
  height: stretch;
}

.detailsWrapper {
  min-height: stretch;
}

.form-control-custom {
  border-top-left-radius: unset !important;
}

.btn-outline-secondary {
  border-top-right-radius: unset !important;
}
.card {
  border-bottom: 0 !important;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;

}

.signInWrapper {
  min-height: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/images/515766.jpeg");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.350); 
  background-position: center;
  background-size: cover;
}

.signInBox {
  background-color: white;
  border-radius: 5px;
}
a.noStyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.noStyle:visited {
    text-decoration: inherit;
    color: inherit;
}